* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    font-size: 32px;
    height: 80px;
    width: 1140px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul {
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

nav ul li {
    list-style-type: none;
    padding-left: 20px;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;

}


.links {
    height: 0;
    overflow: hidden;

}

.show-links {
    height: 10rem;
}

@media screen and (min-width: 800px)  {
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
}